.league {
    background-color: #fff;
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
  }

.btn {
    background-color: black;
    color: white;
    font-size: larger;
    padding: 2px;
    height: 50px;
    width: 100px;
  }

.league-card{
  background-color: rgb(240, 231, 231);
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 450px;
}

.league-card img{
  width: 80%;
  border-bottom: navy;
}

